{% extends 'customer_page/starter.html' %}

{% block header %}
    <h1>课程记录</h1>
{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'user:courserecordadd' %}" class="add btn btn-success pull-left">添加</a>
        <div class="row">
            <div class="col-lg-4 pull-right">
                <form action="" method="get">
                    <div class="col-lg-3" style="left: 32px;">
                        <select id="search_field" class="form-control" name="search_field">
                            <option value="day_num">节次</option>
                        </select>
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group">
                            <input name="kw" id="kw" type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                        <button class="btn btn-default search-btn" type="submit">Go!</button>
                    </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-2">
                    <select class="form-control" name="change_of_owner">
                        <option value="bulk_create">批量创建学习记录</option>

                    </select>
                </div>
                <div class="col-xs-1">
                    <button type="submit" class="btn btn-info">提交</button>
                </div>

            </div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>序号</th>
                    <th>节次</th>
                    <th>日期</th>
                    <th>班级</th>
                    <th>讲师</th>
                    <th>学习记录</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for coursere in coursere_obj %}
                    <tr>
                        <td><input type="checkbox" name="change_msg" value="{{ coursere.id }}"></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ coursere.day_num }}</td>
                        <td>{{ coursere.date|date:"Y-m-d" }}</td>
                        <td>{{ coursere.re_class}}</td>
                        <td>{{ coursere.teacher.username }}</td>
                        <td><a href="{% url 'user:studyrecord' %}?coursere_id={{ coursere.pk }}">记录详情</a></td>
                        <td>
                            <a href="{% url 'user:courserecordedit' coursere.pk %}" class="glyphicon glyphicon-pencil"></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </form>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {{ page_html|safe }}
            </ul>
        </nav>
    </div>


{% endblock %}

{% block script %}
    <script>
        $('#search_field').val('{{ search_field|default:"day_num" }}');
        $('#kw').val('{{ kw|default:"" }}');
    </script>
{% endblock %}