{% extends 'home/starter.html' %}

{% block header %}
    <h1>客户信息展示</h1>
{% endblock %}

{% block content %}
    <div>
        <a href="/home/add" class="add btn btn-success">添加</a>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>出生日期</th>
                <th>QQ</th>
                <th>手机号</th>
                <th>咨询课程</th>
                <th>客户状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for custobj in cust_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ custobj.name }}</td>
                    <td>{{ custobj.sex }}</td>
                    <td>{{ custobj.birthday|date:"Y-m-d" }}</td>
                    <td>{{ custobj.qq }}</td>
                    <td>{{ custobj.phone }}</td>
                    <td>{{ custobj.course }}</td>
                    <td>{{ custobj.status }}</td>
                    <td>
                        <a href="/home/edit/{{ custobj.id }}" class="glyphicon glyphicon-pencil"></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}
